* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  transform: scale(1.5);
  gap: 2mm;
  height: 100vh;
  width: 100vw;
  background-color: #DDD;
}
body .flashcard-front {
  padding: 0;
  margin: 0;
  border-radius: 2mm;
  width: 54mm;
  height: 86mm;
  background-color: white;
  filter: drop-shadow(0px 0px 5px #AAA);
  display: flex;
  flex-direction: column;
}
body .flashcard-front .top {
  width: 100%;
  height: 8mm;
  background-color: red;
  border-radius: 2mm 2mm 0px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Noto Serif JP";
  font-size: 10px;
}
body .flashcard-front .top div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6mm;
}
body .flashcard-front .top .borehole {
  width: 5mm;
  height: 5mm;
  background-color: black;
  border-radius: 1000000px;
  margin-left: 2mm;
  margin-right: 2mm;
}
body .flashcard-front .top .onyomi-head {
  flex-direction: column;
  justify-content: flex-end;
  width: calc(50% - 5mm);
}
body .flashcard-front .top .kunyomi-head {
  flex-direction: column;
  justify-content: flex-end;
  width: calc(50% - 5mm);
}
body .flashcard-front .spelling {
  height: 36mm;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding-top: 0mm;
  padding-bottom: 0mm;
}
body .flashcard-front .spelling div {
  flex-grow: 10;
}
body .flashcard-front .spelling .onyomi {
  width: 50%;
  padding-right: 0.3mm;
  padding-left: 0.7mm;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  gap: 1.5px;
  font-family: "Noto Serif JP";
  font-size: 8px;
}
body .flashcard-front .spelling .onyomi p {
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
  color: white;
  background-color: pink;
  border-bottom: 0.5px dashed #ccc;
}
body .flashcard-front .spelling .kunyomi {
  width: 50%;
  padding-left: 0.3mm;
  padding-right: 0.7mm;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  gap: 1.5px;
  font-family: "Noto Serif JP";
  font-size: 8px;
}
body .flashcard-front .spelling .kunyomi p {
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
  color: black;
  background-color: yellow;
  border-bottom: 0.5px dashed #ccc;
}
body .flashcard-front .kanji {
  height: 27mm;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-top: 0.5px dashed black;
  border-bottom: 0.5px dashed black;
}
body .flashcard-front .kanji span {
  margin-top: -5mm;
  margin-bottom: -5mm;
  text-align: center;
  font-size: 24mm;
  font-family: "Noto Serif JP";
}
body .flashcard-front .mnemonic {
  border-radius: 0px 0px 2mm 2mm;
  height: 15mm;
  background-color: red;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  gap: 3mm;
  padding-top: 1.2mm;
}
body .flashcard-front .mnemonic div {
  padding: 0;
  margin: 0;
  width: 12mm;
  height: 12mm;
}
body .flashcard-front .mnemonic div img {
  padding: 0;
  margin: 0;
  object-fit: contain;
}
body .flashcard-back {
  padding: 0;
  margin: 0;
  border-radius: 2mm;
  width: 54mm;
  height: 86mm;
  background-color: white;
  filter: drop-shadow(0px 0px 5px #AAA);
  display: flex;
  flex-direction: column;
}
body .flashcard-back .head {
  display: flex;
  font-family: "Arial";
  font-size: 9px;
  width: 100%;
  height: 5mm;
  background-color: red;
  justify-content: center;
  align-items: center;
}
body .flashcard-back .meaning-head {
  border-radius: 2mm 2mm 0px 0px;
}
body .flashcard-back .meaning {
  border-bottom: 1px dashed black;
  display: flex;
  flex-direction: column;
  gap: 0.6mm;
  padding-left: 0.6mm;
  padding-right: 0.6mm;
}
body .flashcard-back .meaning p {
  width: 100%;
  background-color: yellow;
  font-size: 8px;
  color: black;
}

/*# sourceMappingURL=style.css.map */
